.navigation {
    width: 100%;
    height: 62px;
    background-color: #F8F8F8;
    padding-left: 50px;

    @media (max-width: 1350px) {
        padding-left: 30px;
    }
    @media (max-width: 1200px) {
        padding-left: 10px;
    }
    @media (max-width: 992px) {
        display: none;
    }
    &__menu {
        gap: 60px;
        margin-right: 50px;

        @media (max-width: 1350px) {
            gap: 40px;
            margin-right: 30px;
        }

        @media (max-width: 1000px) {
            gap: 20px;
            margin-right: 10px;
        }
    }
    &__item {
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            opacity: 0.5;
        }
    }
    &__divider {
        width: 60px;
        height: 100%;
        border-right: 1px solid #F0F0F0;
        @media (max-width: 1350px) {
            width: 30px;
        }
        @media (max-width: 1200px) {
            width: 0;
        }
    }

    &__search {
        height: 100%;
        gap: 16px;
        width: 363px;
        @media (max-width: 1200px) {
            width: 300px;
        }
        @media (max-width: 1150px) {
            width: 250px;
        }
        @media (max-width: 1100px) {
            width: 200px;
        }
    }

    &__search-field {
        border: none;
        outline: none;
        background-color: #F8F8F8;
        height: 20px;
        width: 110px;
        padding: 0;
        &::placeholder {
            color: #A2A2A2;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 100%;
            font-weight: 400;
        }
    }
}