.navigation {
    width: 100%;
    height: 62px;
    background-color: #F8F8F8;
    padding-left: 50px;
    &__menu {
        gap: 60px;
        margin-right: 50px;
    }
    &__item {
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            opacity: 0.5;
        }
    }
    &__divider {
        width: 60px;
        height: 100%;
        border-right: 1px solid #F0F0F0;
    }

    &__search {
        height: 100%;
        gap: 16px;
        width: 363px;
    }

    &__search-field {
        border: none;
        outline: none;
        background-color: #F8F8F8;
        height: 20px;
        width: 110px;
        padding: 0;
        &::placeholder {
            color: #A2A2A2;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 100%;
            font-weight: 400;
        }
    }
}