include ../../pug/_image

mixin slider()
    .slider.carousel
        .slider__indicators.indicator.d-flex.carousel-indicators 
            button(class="indicator__item active" aria-current="true" aria-label="Slide 1")
            button(class="indicator__item" aria-label="Slide 2")
            button(class="indicator__item" aria-label="Slide 3")
        .slider__inner.carousel-inner     
            .carousel-item.active.slider__item
                +slide 
            .carousel-item.slider__item
                +slide  
            .carousel-item.slider__item
                +slide 
        button(class="slider__button slider__button_left carousel-control-prev d-flex justify-content-center align-items-center" type="button")
            +image('svg', 'arrowleft')
        button(class="slider__button slider__button_right carousel-control-next d-flex justify-content-center align-items-center" type="button")
            +image('svg', 'arrowright')          
