@use "../fonts/fonts";

body {
    font-family: 'Inter', sans-serif;
}

input,
textarea,
button,
i {
    font-family: inherit;
}

.regular {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    &_white {
        color: #F0F0F0;
    }
    &_brands {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &_transparent {
        opacity: 0.5;
    }
    &_big {
        font-size: 20px;
    }
    &_category {
        font-size: 16px;
    }
}

.promo {
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    line-height: 100%;
    color: #303030;
    &_regular {
        font-size: 20px;
        @media (max-width: 850px) {
            font-size: 18px;
        }
    }
    &_big {
        font-size: 50px;
        text-transform: uppercase;
        @media (max-width: 850px) {
            font-size: 32px;
        }
        @media (max-width: 650px) {
            font-size: 26px;
        }
    }
    &_popular {
        font-size: 40px;
    }
    
}


.logo-main {
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #303030;
}

.logo-main_gold {
    color: #E1A661;
}

.logo-sub {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.27em;
    color: #919191;
}