.sales {
    &__header {
        margin-bottom: 24px;
        @media (max-width: 768px) {
            width: 100%;
            & .promo {
                text-align: center;
            }
        }
    }
    &__group {
        margin-bottom: 36px;
        width: 100%;
    }
    &__items {
        gap: 20px;
    }
    &__item {
        height: 490px;
    }
    &__promo {
        gap: 20px;
    }
}