.article {
    width: 310px;

    @media(max-width: 689px) {
        width: 100%;
    }

    &__img {
        cursor: pointer;
        margin-bottom: 20px;

        @media(max-width: 1020px) {
            margin-bottom: 10px;
        }

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__date {
        margin-bottom: 12px;
        width: 100%;
        height: 14px;

        @media (max-width: 1020px) {
            margin-bottom: 10px;
        }

        & .regular {
            color: #8F8F8F;
        }
    }

    &__title {
        width: 100%;
        cursor: pointer;

        & span {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #303030;
        }
    }
}