.options-dropdown {
    width: 100%;

    &__button {
        width: 100%;
        height: 40px;
        background-color: #F0F0F0;
        border: none;
        outline: none;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #303030;
        padding-left: 16px;
    }
    &__item {
        height: 32px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #FAFAFA;
        }
        & a {
            user-select: none;
            cursor: pointer;
            &:hover {
                background-color: #FAFAFA;
            }
        }

        & a.active {
            &::after {
                content: '';
                margin-left: 11px;
                display: inline-block;
                width: 11px;
                height: 8px;
                background-image: url('../../images/tick.svg');
            }
        }
    }
    &__menu {
        width: 100%;
        height: 132px;
        &.dropdown-menu {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
    &__arrow {
        transition: 0.5s all ease;

        &_reversed {
            transform: rotate(180deg);
        }
    }
}