mixin timer()
    .timer.d-flex.justify-content-between.align-items-center 
        .timer__section.timer__hour
            span.timer__number 12
            span.timer__text часов
        .timer__delim
            .timer__dot
            .timer__dot 
        .timer__section.timer__minute
            span.timer__number 46
            span.timer__text минут
        .timer__delim
            .timer__dot
            .timer__dot   
        .timer__section.timer__second   
            span.timer__number 51
            span.timer__text секунд