@use "../../reset";
@use "../../text/text";

$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;
@import "~bootstrap/scss/bootstrap";
@import "../../libs/_libs.scss";

html,
body {
    height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
}

h1, h3, span, div {
    user-select: none;
}

.index {
    &__content {
        width: 1300px;
        padding-top: 53px;
        padding-bottom: 80px;
        gap: 120px;

        @media (max-width: 1130px) {
            gap: 50px;
        }

        @media (max-width: 1350px) {
            width: calc(100% - 50px);
        }
    }
    &__head {
        gap: 20px;
    }
}

.dropdown-menu {
    border-radius: 0%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border: none;
}

.dropdown-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    border: 1px solid #303030;
    box-sizing: border-box;
    background-color: #ffffff;
    &.active {
        background-color: #303030;
    }
}
