include ../../pug/_image.pug
include ../../pug/_head.pug
include ../../libs/_libs.pug

doctype html
html(lang="ru")
    +head('Goldy Store', 'Goldy Store')
    body.d-flex.flex-column.align-items-center 
        main.index__content.d-flex.flex-column
            section.index__head.d-flex.flex-column
                +header
                +slider
            +popular
            +sales
            +main-item
            +articles
                

