@use "../../reset";
@use "../../text/text";
@use "../../libs/_libs.scss";

$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;
@import "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
}

.index {
    &__content {
        width: 1300px;
        padding-top: 53px;

        @media (max-width: 1350px) {
            width: calc(100% - 50px);
        }
    }
}

.dropdown {
    width: 180px;
}

.dropdown-menu {
    border-radius: 0%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border: none;
    width: 197px;
    height: 164px;
    padding: 25px 0 22px 0;
    transform: translate3d(0px, 24px, 0px);
}

.dropdown-item {
    padding: 0;
    padding-left: 24px;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    user-select: none;

    &:active,
    &:focus {
        background-color: none;
        color: black;
    }

    &.active {
        background: none;
        color: black;

        &::after {
            content: '';
            margin-left: 11px;
            display: inline-block;
            width: 11px;
            height: 8px;
            background-image: url('../../images/tick.svg');
        }
    }
}

// .dropdown-list-item:not(:last-child) {
//     margin-bottom: 20px;
// }