@use "../../reset";
@use "../../text/text";

$dropdown-link-active-color: none;
$dropdown-link-active-bg: none;
@import "~bootstrap/scss/bootstrap";
@import "../../libs/_libs.scss";

html,
body {
    height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
}

.index {
    &__content {
        width: 1300px;
        padding-top: 53px;

        @media (max-width: 1350px) {
            width: calc(100% - 50px);
        }
    }
}

.dropdown-menu {
    border-radius: 0%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border: none;
}
