.item {
    padding: 16px 24px 26px;
    width: 310px;
    min-height: 370px;
    background-color: #ffffff;
    border: 1px solid #F0F0F0;
    transition: 0.5s height ease;
    position: relative;
    @media (max-width: 689px) {
        width: 100%;
    }
 
    &:hover {
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
        & .item__dropdowns {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap:8px;
        }
    }
    &__icons {
        gap: 10.5px;
        z-index: 5;
    }
    &__eye {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-image: url('../../images/eye.svg');
        transition: 0.3s all ease;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &__img {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 40px;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__indicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 186px;
    }
    &__price {
        width: 100%;
    }
    &__description {
        margin-top: 191.5px;
        gap: 16px;
        & span.regular {
            line-height: 22px;
        }
    }

    &__dropdowns {
        display: none;
    }
}