include ../blocks/contacts/contacts.pug
include ../blocks/header/header.pug
include ../blocks/icons/icons.pug
include ../blocks/location/location.pug
include ../blocks/logo/logo.pug
include ../blocks/navigation/navigation.pug
include ../blocks/signin/signin.pug
