include ../blocks/badge/badge.pug
include ../blocks/button/button.pug
include ../blocks/category/category.pug
include ../blocks/color/color.pug
include ../blocks/contacts/contacts.pug
include ../blocks/group/group.pug
include ../blocks/header/header.pug
include ../blocks/icons/icons.pug
include ../blocks/indicator/indicator.pug
include ../blocks/item-sales/item-sales.pug
include ../blocks/item/item.pug
include ../blocks/like/like.pug
include ../blocks/location/location.pug
include ../blocks/logo/logo.pug
include ../blocks/main-item/main-item.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/navigation/navigation.pug
include ../blocks/options-dropdown/options-dropdown.pug
include ../blocks/options/options.pug
include ../blocks/popular/popular.pug
include ../blocks/price/price.pug
include ../blocks/sales/sales.pug
include ../blocks/signin/signin.pug
include ../blocks/size-bar/size-bar.pug
include ../blocks/slide/slide.pug
include ../blocks/slider/slider.pug
include ../blocks/timer/timer.pug
include ../blocks/tip/tip.pug
