.icons {
    gap: 30px;

    @media (max-width: 1000px) {
        display: none;
    }

    &__item {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: 0.2s all ease;
        position: relative;
        &:hover {
            background-color: #F8F8F8;
        }

        &:active {
            background-color: #E8E7E7;
        }
    }

    &__badge {
        border-radius: 50%;
        background-color: #E46942;
        width: 19px;
        height: 19px;
        position: absolute;
        bottom: 14px;
        left: 20px;

        & span {
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 10px;
            line-height: 10px;
            color: #fff;
        }
    }
}