include ../../pug/_image

mixin contacts()
    .contacts.d-lg-flex.justify-content-between.align-items-center     
        +image('svg', 'phone', 'contacts__icon')
        span.regular.contacts__text 8 800 785-25-35