.location {
    width: 180px;

    &__button {
        background: none;
        outline: none;
        border: none;
        padding: 0;

        &:hover {
            & .location__icon {
                opacity: 0.5;
            }
        }
    }

    &__menu {

        &.dropdown-menu {
            width: 197px;
            height: 164px;
            padding: 18px 0 18px 0;
        }
    }

    &__item {
        cursor: pointer;
        user-select: none;

        &:active,
        &:focus {
            background-color: none;
            color: black;
        }

        & a.active {
            background: none;
            color: black;

            &::after {
                content: '';
                margin-left: 11px;
                display: inline-block;
                width: 11px;
                height: 8px;
                background-image: url('../../images/tick.svg');
            }
        }
    }

    &__link {
        color: black;
        padding: 0;
        padding-left: 24px;
        font-size: 14px;
        line-height: 32px;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
    }

    &__icon {
        transition: 0.5s all ease;
        margin-right: 10px;
    }

    & .regular {
        margin-right: 8px;
    }

    &__arrow {
        transition: 0.5s all ease;

        &_reversed {
            transform: rotate(180deg);
        }
    }

}