include ../../pug/_image

mixin slide()
    .slide.d-flex.align-items-center
        .slide__promo.d-flex.flex-column.align-items-start 
            span.promo.promo_regular Суперскидка 60%
            span.promo.promo_big на бриллианты
            button.slide__more.d-flex.justify-content-center.align-items-center 
                span подробнее
        +image('png', 'ring','slide_img')
