include ../location/location.pug
include ../contacts/contacts.pug
include ../logo/logo.pug
include ../signin/signin.pug
include ../icons/icons.pug

mixin header()
    .header.d-flex.flex-column
        .header__contacts.d-flex.justify-content-md-between.justify-content-sm-end.align-items-center
            .header__geoblock.d-md-flex.justify-content-between.align-items-center 
                +location
                +contacts
            +logo
            .header__registrationblock.d-flex.justify-content-between.align-items-center 
                +signin
                +icons
                .header__burger
                    span.header__bar
                    span.header__bar
                    span.header__bar
        .header__nav     
            +navigation
        .header__mobile-menu 
            +mobile-menu           