.signin {
    gap: 10px;

    &__item {
        cursor: pointer;
        transition: 0.5s all ease;
        &:hover, &:active {
            opacity: 0.5;
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    @media (max-width: 1000px) {
        display: none;
    }
}