.size-bar {
    gap: 8px;

    &__item {
        width: 50px;
        height: 32px;
        border: 1px solid #DADADA;
        background-color: #ffffff;
        transition: 0.3s all ease;
        cursor: pointer;

        &:hover {
            border: 1px solid #303030;
        }

        &_active {
            background-color: #303030;
            &:hover {
                background-color: #303030;
            }
            & .regular {
                color: #ffffff;
            }
        }

        &_disabled {
            cursor: auto;
            border: 1px solid #DADADA;

            & .regular {
                opacity: 0.5;
            }

            &:hover {
                border: 1px solid #DADADA;
            }
        }
    }
}