mixin tip()
    .tip.d-flex.align-items-center.justify-content-center 
        |?
        .tip__hint.tip__hint_hidden.tip__hint_visuallyhidden
            span.regular Также как существующая теория напрямую зависит от экономической целесообразности принимаемых решений.
