.tip {
    width: 18px;
    height: 18px;
    background-color: #F0F0F0;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #303030;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: #D3D3D3;
    }

    &__hint {
        height: 148px;
        width: 271px;
        background-color: #ffffff;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        padding: 24px;
        transition: 0.3s all ease;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;

        & .regular {
            line-height: 1.4;
        }

        &_hidden {
            display: none;
        }
        &_visuallyhidden {
            opacity: 0;
        }

        &::after {
            content: '';
            bottom: -4px;
            left: 132px;
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: #ffffff;
            transform: rotate(-45deg);
        }
    }
}